/* Desktop - Default */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87f7fff6; /* Desktop Background*/
}

/* Navigation - horizontal layout fro desktp */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #2c1872;
}

.navbar a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
}

/* Content section */
.content {
    padding: 40px;
    text-align: center;
}

.content h1 {
    font-size: 36px; /* Desktop font size */
}

.content p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

/* Media Queries for mobile */

@media (max-width: 768px) {

    /* Change backgr color in mobile */
    body {
        background-color: #dbeafe;
    }

    .content h1 {
        font-size: 20px; /* font size for mobile screens */
    }

    .content p {
        font-size: 16px;
    }

    /* Convert navigation into vertical layout in mobile */
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #555;
    }
}